.song_intro {
  color: rgb(255, 196, 0);
  text-align: center;
  font-size: 24px;
}

.intro_ges {
  color:red;
}
.song_name {
  /* margin-left: 5%; */
  margin-bottom: 10%;
  font-family: 'Roboto', sans-serif;
  background-color: aqua;
  border-radius: 50px;
  filter:drop-shadow(10px 10px 2px #4e4e4e);
  font-size: 40px;
  padding: 15px;
}

.sound_source{
  margin-left: 5%;
}

.header {
  margin-left: 5%;
  /* width: 500px; */
}

.detail_song {
  margin-left: 8%;
  margin-top: 0%;
}

.kumiko {
  width: 300px; /* 任意の幅に設定 */
  height: auto; /* 高さを自動調整 */
  margin-left: 200px;
}

h3 {
  margin-left: 65%;
}

.tip_sound {
  margin-left: 5%;
  color: rgb(69, 212, 69);
}

.header,
.kumiko {
  display: inline-block;
  margin-right: 10px;
}

.goods {
  border: 1px dashed red; 
  margin-right: 300px;
  margin-left: 300px;
  text-align: center;
  padding: 10px;
}

.moriagare {
  width: 100px;
  height: auto;
}

.chorus {
  font-size: 30px;
}

.first_gesture {
  color: red;
  margin-right: 50%;
}

.second_gesture {
  color: red;
  margin-right:35%
}

.third_gesture {
  color: red;
  margin-left: 30%;
}

.fourth_gesture {
  color: red;
  margin-right: 30%;
}

.fifth_gesture {
  color: red;
  margin-left: 30%;
}

.sixth_ges {
  color:red;
  margin-right: 12%;
}

.left_image {
  text-align: left;
}

.seventh_ges {
  color:red;
  margin-left: 450px;
}

.eighth_ges {
  color: red;
  margin-left: 80px;
}

.ninth_ges {
  color: red;
  margin-right: 50px;
}

.tenth_ges {
  color:red;
}

.elev_ges {
  color: red;
  margin-left: 300px;
}

.twel_ges {
  color: red;
  margin-left: 200px;
}

.lyrics {
  text-align: center;
}

.lyric_sentence {
  font-size: 24px;
}